.chat__main__message
  .chat__main__message__name
    test-user
  .chat__main__message__time
    2016/09/21 06:16:55
  .chat__main__message__text
    こんにちは！

  .chat__main__message__name
    test-user
  .chat__main__message__time
    2016/09/22 06:16:55
  .chat__main__message__text
    さようなら！