.chat__side__main
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .chat__side__main__name
        = group.name
      .chat__side__main__message
        メッセージはまだありません。