.chat__side__main
  .chat__side__main__name
    test-group
  .chat__side__main__message
    さようなら！
  .chat__side__main__name
    sample-group
  .chat__side__main__message
    hello!
  .chat__side__main__name
    example
  .chat__side__main__message
    まだメッセージがありません