//メイン部分とフッター部分のscss

.chat {
  display: flex;
  &__main {
    box-sizing: border-box;
    height: 100vh;
    width: calc(100vw - 300px);
    background-color: white;
    float: left;
    &__header {
      box-sizing: border-box;
      border-bottom: 1px solid #eeeeee;
      &__group__name {
        box-sizing: border-box;
        font-size: 20px;
        color: #333333;
        padding: 35px 0 15px 40px;
      }
      &__member__name {
        box-sizing: border-box;
        font-size: 12px;
        color: #999999;
        padding-left: 40px; 
      }
      &__edit {
        box-sizing: border-box;
        float: right;
        border: 1px solid #38AEF0;
        color: #38AEF0;
        line-height: 40px;
        margin: -63px 40px 0 0;
        padding: 0 20px;
        text-align: center;
      }
    }
    &__message {
      box-sizing: border-box;
      background-color: #fafafa;
      height: 73vh;
        &__name {
          box-sizing: border-box;
          display: inline-block;
          padding: 46px 0 10px 0;
          margin-left: 40px;
          margin-right: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
      }
      &__time {
        box-sizing: border-box;
        display: inline-block;
        color: #999999;
        font-size: 12px;
      }
      &__text {
        box-sizing: border-box;
        font-size: 14px;
        margin-left: 40px;
      }
    }
  &__footer {
    height: 13vh;
    box-sizing: border-box;
    background-color: #DDDDDD;
    text-align: center;
    input[type="text"] {
      height: 50px;
      width: 63vw;
      margin: 20px 0;
      }
    input[type="button"] {  
      width: 7vw;
      height: 50px;
      background-color: #38AEF0;
      color: white;
      }
    input[value="type a message"] {  
      color: #434A54;
      padding-left: 10px; 
      }
    .icon {
      position: relative;
      right: 40px; 
      }
    }
  }
}

.file input{ display:none; }